<div class="container color-dark">
  <div class="col">
    <p> Un element de liste </p>
  </div>
  <div class="col">
      <p> Ma  liste d'éléments ({{ nbItems }})</p>
  </div>
</div>


<div class="container color-light">
    <div class="col">
      <p class="sm"> Un nouvel élément de liste </p>
      <form>
      <input type="text" class="txt" name="item" placeholder="..." [(ngModel)]="objectifText">
      <br>
      <span>{{objectifText}}</span>
      <input type="submit" class="btn" [value]="btnText">
      </form>
  </div>
  <div class="col">
    <p class="life-container">
      Je suis en cours d'Angular
    </p>
  </div>
</div>
